* {
	box-sizing: border-box;
}
#logo-img {
  background: url('logo.png') no-repeat;
  width: 100px;
  height: 100px;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p span { 
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: gray;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid gray;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

body {
    background-repeat: no-repeat;
    background-image: url("qoutes.jpg"); 
    background-size:100%;
      top: 20px;
      height:100%;
       width:100%;
	  opacity: 0.8;
	  background-position:top;
	  overflow: hidden;
	  font-size: 14px;
	  font-family: 'Oxygen', sans-serif;
}

@media only screen and (min-width: 957px) {
    body { 
       background-image: url("womantraveller.png"); 
       background-size: cover;
       height: 100%;
	  opacity: 0.8;
	  background-position: top;
      top: 20px;
      left: 10px;
      bottom: 10%;
      overflow: hidden;
      font-size: 14px;
 	 font-family: 'Oxygen', sans-serif;
    }
}

@media (min-width: 849px) and (max-width: 956px) {
    body { 
       background-image: url("img.JPG"); 
       background-size: cover;
       height: 100%;
	  opacity: 0.8;
	  background-position: top;
      top:10px;
      left: 10px;
      bottom: 10%;
      overflow: hidden;
      font-size: 14px;
 	 font-family: 'Oxygen', sans-serif;

    }
}
p {
	padding: 5px;
	margin: 0;
	text-align: left;
	font-family: cursive, fantasy;
}
.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom:0;
	padding: 5px;
	font-style: italic;
	font-family: Times ,sans-serif;
	background-color: white;
}

section {
	border:	1px solid white;
	background-color: lightblue;
	width: 100%;
	height: auto;
	font-family: Helvetica;
	font-style: oblique;
	color: black;
	position: relative;
	overflow: auto;
}



.navbar-brand {
  font-size: 3em;
  border: 10px;
}

#header-nav {
  border: 0;
  background-color: white;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color:blue;
}

.nav-brand {
  color: black;
  font-size: 0.8em;
}

#nav-list {
  color: blue;
}

hr {
  border-color: lightblue;
}

.item {
  color:black;
  font-size: 1em;
}
#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}


  /*#collapsable-nav a {  Collapsed nav menu text 
    font-size: 1.2em;
  }*/
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  
  /* Home Page */

  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
}
